.btn {
   font-family: inherit;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.09em;
   text-transform: uppercase;

   min-width: 160px;
   height: 40px;

   background-color: transparent;

   border-radius: 25px;
   border: 1px solid #ff6c00;
   cursor: pointer;

   color: var(--main-btn-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover {
      background-color: var(--acent-color);
   }
}

.btn--light {
  color: var(--main-btn-color);
}

.btn--dark {
  color: var(--second-btn-color);
}