:root {
   --primary-text-color: #757575;
   --title-text-color: #303030;
   --second-btn-color: #303030;
   --acent-color: #ff6c00;
   --main-white-color: #ffffff;
   --main-btn-color: #ffffff;
   --hero-color: #2f303a;
   --section-comand: #f5f4fa;
   --text-color: #9da4bd;
   --lonely-button: #188ce8;
   --after-title: #555555;
   --gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}